<script>
    //swfupload神

    var swfu;

    jQuery(document).ready(function(){
        var settings_object = {//定义参数配置对象
            upload_url : "http://localhost:8056/file_plugin/swfUploads",
            flash_url : "http://localhost:8056/plugin/swfflash/swfupload.swf",
            file_post_name : "Filedata",
            post_params : {
                "ID" : "123456",
            },
            use_query_string : false,
            requeue_on_error : false,
            http_success : [201, 202],
            assume_success_timeout : 0,
            file_types : "*.jpg;*.gif;*.png",
            file_types_description: "Web Image Files",
            file_size_limit : "6000",
            file_upload_limit : 20,
            file_queue_limit : 20,

            debug : false,

            prevent_swf_caching : false,
            preserve_relative_urls : false,

            button_placeholder_id : "element_id",
            button_image_url : "http://localhost:8056/myShopController/upload#",
            button_width : 150,
            button_height : 20,
            button_text : "<b style='color: #FF0000; font-weight: bolder;font-size: larger;'>点击上传:</b> <span class='redText'>选择上传图片</span>",
            button_text_style : ".redText { color: #FF0000; font-weight: bolder;font-size: larger;}",
            button_text_left_padding : 3,
            button_text_top_padding : 2,
            button_action : SWFUpload.BUTTON_ACTION.SELECT_FILES,
            button_disabled : false,
            button_cursor : SWFUpload.CURSOR.HAND,
            button_window_mode : SWFUpload.WINDOW_MODE.TRANSPARENT,

            swfupload_loaded_handler : swfupload_loaded_function,
            file_dialog_start_handler : file_dialog_start_function,
            file_queued_handler : file_queued_function,
            file_queue_error_handler : file_queue_error_function,
            file_dialog_complete_handler : file_dialog_complete_function,
            upload_start_handler : upload_start_function,
            upload_progress_handler : upload_progress_function,
            upload_error_handler : upload_error_function,
            upload_success_handler : upload_success_function,
            upload_complete_handler : upload_complete_function,
            debug_handler : debug_function,
        };

        swfu = new SWFUpload(settings_object);//实例化一个SWFUpload，传入参数配置对象
    });
    /*定义各种事件监听函数*/
    function swfupload_loaded_function(){

    }
    function file_dialog_start_function(){

    }
    function file_queued_function(){

    }
    function file_dialog_complete_function(numFilesSelected, numFilesQueued){
        document.getElementById("upPicContent").style.display="block";
        jQuery("#upPicContent").show();
        jQuery("#upPicImg").text("本次共选择"+numFilesSelected+"图片，"+this.getStats().files_queued+"张等待上传");
    }
    function file_queue_error_function(){

    }
    function upload_start_function(){

    }
    function upload_progress_function(){

    }
    function upload_error_function(){

    }
    function upload_success_function(){

    }
    function upload_complete_function(){

    }
    function debug_function(){

    }
    function upload_img(){
        var upload_album_id=jQuery("#upload_album_id").val();
        swfu.addPostParam("album_id",upload_album_id);
        jQuery("#img_desc_info").text("正在上传第1张,还剩下"+(swfu .getStats().files_queued-1)+"张等待上传");
        swfu.startUpload();

    }
</script>

<!--弹出框控件-->
<div   class="site-text" style="margin: 5%; display: none" id="uploadPicPage"  target="test123">
    <form  class="layui-form layui-form-pane" id="upPic" method="post" lay-filter="example">
        <div class="layui-form-item" pane>
            <label class="layui-form-label layui-bg-orange" >上传至:</label>
            <div  class="layui-input-block">
                <select name="city" lay-verify="" id="upload_album_id">
                    <option th:each="Album : ${aaa}" th:value="${Album.getId()}" > <td th:text="${Album.getAlbum_name()}"></td></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" >
            <label class="layui-form-label layui-bg-red">选择图片:</label>
            <div class="layui-input-block">
                <button id="element_id" class="layui-btn layui-btn-radius layui-btn-danger" lay-submit lay-filter="*">选择上传相册图片</button>
            </div>
        </div>


        <div class="layui-form-item" style="display: none" id="upPicContent" >
            <label class="layui-form-label layui-bg-black">上传进度</label>
            <div class="layui-input-block" >
                <button class="layui-btn layui-btn-radius layui-btn-danger" id="upPicImg"  >上传</button>
            </div>
        </div>

        <div class="layui-form-item" >
            <label class="layui-form-label layui-bg-black">点击上传:</label>
            <div class="layui-input-block">
                <button type="button" onclick="upload_img();" class="layui-btn layui-btn-radius layui-btn-danger" lay-submit lay-filter="*">上传</button>
            </div>
        </div>

    </form>



</div>





