<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/jquery-1.9.1.min.js"></script>

    <style>

    </style>
</head>
<body>

<div class="content" th:fragment="mycontent" id="load_dialog">

    <div class="fun" id="class_1">
        <div>
            <ul th:each="GoodsClass : ${goodsClassList}">
                <li th:id="${GoodsClass.id}" level="1" next="2" th:onclick="getGoodsClass([[${GoodsClass.id}]],this);"  th:text="${GoodsClass.className}"></li>
            </ul>
        </div>
    </div>

    <div class="fun" id="class_2" style="display:none;">
        <div>
            <ul id="goodClass2">
            </ul>
        </div>
    </div>

    <div class="fun" id="class_3" style="display:none;">
        <div>
            <ul id="goodClass3">
            </ul>
        </div>
    </div>

    <div class="fun" id="class_4" style="display:none;">
        <div>
            <ul id="goodClass4">
            </ul>
        </div>
    </div>


    <div></div>
</div>


</body>
<script>



    function getGoodsClass(pid) {
        var param={'pid':"pid"};
        $.ajax({
            async: true,
            type: 'GET',
            url: '/requestGoods/loginInPage',
            dataType:'json',
            data: param, //请求参数
            success: function (data) {
               console.log(data);
            }
        });
    }
</script>
</html>