html, body {
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    font-size:14px;
    color:#666666;
    font-family:"微软雅黑";
}

body {
    background-color:#FFF;
}

input,select,textarea{outline:none; background:#fafafa;}

a {
    color:#797979;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}