<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script ></script>
    <link href="../../css/common.css" rel="stylesheet">
</head>
<body>

<div class="dsc-search">
    <div class="form">
        <form class="search-form">
            <input name="keywords" type="text" id="keyword" value="" class="search-text" style="color: rgb(153, 153, 153);">
            <button type="submit" class="button button-goods">搜商品</button>
            <button type="submit" class="button button-store">搜店铺</button>
        </form>
    </div>
</div>

</body>
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
</html>