<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script ></script>
    <link href="../../css/common.css" rel="stylesheet">
</head>
<body>

<div class="top_banner">
    <div class="module w1200">
        <a href="javascript:">
            <img src="../../img/ddd.png"/>
            <i class="icon-close"><img src="../../img/other.png"/></i>
        </a>
    </div>
</div>

</body>
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
</html>