<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>应用服务</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.11.0/lib/theme-chalk/index.css">
    <link href="../../css/alert.css" rel="stylesheet">
</head>
<body style="width: 100%">
<style>
    html{
        overflow-x: hidden;
    }
</style>
<div id="app">
    <!--<div class="content-right">-->

        <template>
            <div v-if="cang" class="style">
                <el-form :inline="true" :model="formInline" class="demo-form-inline">
                    <el-form-item label="标签一">
                        <el-input v-model="formInline.user" placeholder="审批人"></el-input>
                    </el-form-item>
                    <el-form-item label="标签二">
                        <el-select v-model="formInline.region" placeholder="选择">
                            <el-option label="区域一" value="shanghai"></el-option>
                            <el-option label="区域二" value="beijing"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="query">查询</el-button>
                        <el-button type="primary" @click="goAdd">新增</el-button>

                    </el-form-item>
                </el-form>


                <el-table
                        :data="tableData"
                        border
                        :row-style="{height:'20px'}"
                        class="Htable"
                        style="width: 98%">
                    <!--项次-->
                    <el-table-column label="#" type="index" width="45">
                    </el-table-column>
                    <el-table-column
                            prop="address"
                            label="地址"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="proName"
                            label="项目名称"
                    >
                    </el-table-column>
                    <!--<el-table-column-->
                            <!--prop="address"-->
                            <!--label="地址"-->
                    <!--&gt;-->
                    <!--</el-table-column>-->
                    <el-table-column
                            prop="heartKey"
                            label="heartKey"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="domain"
                            label="映射域名"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="serveSta"
                            label="服务状态"
                            :formatter="formatterColumn"
                    >
                        <!--<img class="img222" src="img/ok.png"  v-if ="img" alt="">-->
                        <!--<img class="img222" src="img/no2.png"  v-if ="img2" alt="">-->
                       <!-- <span v-if="2=== 1">正常</span>
                        <span v-else style="color: red">异常</span>-->
                    </el-table-column>
                    <el-table-column
                            label="开启状态"
                    >
                        <template scope="scope">
                            <el-switch   @change="handleClick(scope.$index, scope.row)"   v-model="scope.row.value">
                            </el-switch>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="notePad"
                            label="备注"
                    >
                    </el-table-column>
                    <el-table-column

                            label="操作"
                            width="180">
                        <template scope="scope">
                            <el-button size="mini" @click="handleEdit(scope.$index, scope.row)"  style="margin-left: 10px">编辑</el-button>
                            <el-button type="danger"  @click="handleDel(scope.$index, scope.row)" size="small" style="margin-left: 10px">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-col :span="24" class="toolbar">
                    <el-pagination small background @current-change="handleCurrentChange" @size-change="handleSizeChange" :page-sizes="[10, 20, 50, 100]"
                                   :page-size="pageSize" :total="total" layout="sizes, prev, pager, next"  style="float:right; margin: 20px 0"></el-pagination>
                </el-col>
            </div>
            <div v-if="!cang">
                <span class="labelNew">{{formTitle}}</span>
                <div id="apply" v-cloak>
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px"  class="demo-ruleForm">
                        <el-row>
                            <el-col :span="8">
                                <el-form-item label="IP" prop="ip">
                                    <el-input v-model="ruleForm.ip"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="端口" prop="port">
                                    <el-input v-model="ruleForm.port"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="项目名称" prop="proName">
                                    <el-input v-model="ruleForm.proName"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="8">
                                <el-form-item label="心跳key" prop="heartKey">
                                    <el-input v-model="ruleForm.heartKey" @change="checkCode()"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="映射域名" prop="domain">
                                    <el-input v-model="ruleForm.domain"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="类型" prop="testLine">
                                    <el-select v-model="ruleForm.testLine" placeholder="请选择类型" style="width: 100%">
                                        <el-option label="测试" value="0"></el-option>
                                        <el-option label="正式" value="1"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-form-item label="备注" prop="notePad">
                            <el-input v-model="ruleForm.notePad"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click.native="cancel">取消</el-button>
                        <el-button type="primary" @click.native="formSubmit" :loading="formLoading" >提交</el-button>
                    </div>
                </div>
            </div>
        </template>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="../../js/vue-resource-1.3.4.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/alert.js"></script>
</html>